<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.pelleritoudacity.android.rcapstone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.DetailActivity" />
        <activity android:name=".ui.activity.SettingsActivity" />
        <activity android:name=".ui.activity.ManageActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.OptionWidgetActivity" />
        <activity android:name=".ui.activity.YoutubeActivity" />
        <activity android:name=".ui.activity.FullScreenActivity" />
        <activity android:name=".ui.activity.WebviewActivity" />
    </application>

</manifest>